# Byte-compiled / optimized / DLL files
__pycache__/

*.egg-info/

# Dakota output files
*.log
*.dat
*.rst
*.out

# EGO output files
*.13

# Dakota output filestructures.
model/MULTIDIM_PARAM/*
model/NL2SOL/*
model/EGO/*
