# Byte-compiled / optimized / DLL files
__pycache__/

*.egg-info/

# Dakota output files
*.log
analysis/*.dat
*.rst
*.out

# EGO output files
*.13

# Dakota output filestructures.
analysis/MULTIDIM_PARAM/*
analysis/NL2SOL/*
analysis/EGO/*

# notebooks
.ipynb_checkpoints/*
